version: '2.0'
services:
  frontend:
    image: nextcloud:13.0
    expose:
      - '80'
    links:
      - database
    volumes:
      - ./mounts/webroot:/var/www/html
    networks:
      - nextcloud_db_network
      - reverse_proxy_default
    environment:
      VIRTUAL_HOST: cloud.{{ url }}
      LETSENCRYPT_HOST: cloud.{{ url }}
      LETSENCRYPT_EMAIL: {{ admin_email }}
  office-suite:
    image: collabora/code
    restart: always
    cap_add:
      - MKNOD
    networks:
      - reverse_proxy_default
    environment:
      VIRTUAL_HOST: office.{{ url }}
      VIRTUAL_PORT: '9980'
      LETSENCRYPT_HOST: office.{{ url }}
      LETSENCRYPT_EMAIL: {{ admin_email }}
      domain: cloud.{{ url }}
    expose:
      - '9980'
  database:
    image: mariadb:latest
    restart: always
    volumes:
      - ./mounts/database:/var/lib/mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_PASSWORD: {{ password }}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
    networks:
      - nextcloud_db_network
networks:
  reverse_proxy_default:
    external: true
  nextcloud_db_network:
